.add-break {
    padding: 2%;
}

.buttons {
    border-radius: 3%;
    background-color: aquamarine;
    padding: 2%;
}

.buttons button {
    margin: 1% 1%;
    border: none;
    padding: 3%;
    border-radius: 50%;
    background-color: white;
}

.buttons button:hover {
    background-color: lightgreen;
}

.Exercise-boxes {
    display: flex;
    justify-content: space-between;
    border-radius: 3%;
    background-color: aquamarine;
    padding: 2%;
    margin: 5% 3%;
}